<!DOCTYPE html>
<html>
    <head>
        <title>Vale's Blog</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    </head>
    <body>
        <h1>Vale's Lifeprint</h1>
        <div class="articles">
            {% for article in articles %}
                <div class="article">
                    <p>
                    {{ article.title }}
                    <small>{{ article.date }}</small>
                    </p> 
                </div>
            {% endfor %}
        </div>
    </body>