<!DOCTYPE html>
<html>
    <head>
        <title>Vale's Blog</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    </head>
    <body>
        <h1>Welcome to Vale's Blog</h1>
        <label for="admin-login">Admin Login:</label>
        <form name="admin-login" method="POST" action="{{ url_for('login') }}">
            <label for="username">Username:</label>
            <input type="text" id="username" name="username" required>
            <br><br>
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required>
            <br><br>
            <input type="submit" value="Login">
        </form>
        <p>{{ invalid_login }}</p>
    </body>